.list-group-item {
    border: none !important;
}

.container-api {
    padding: 0 7rem;
}

.item-api {
    margin: 50px 0;
}

.api-response {
    padding: 30px;
    background-color: #f8f8f8;
}

#sidebar-wrapper {
    position: fixed;
    top: 0;
}

#page-content-wrapper {
    margin-left: 20rem;
    transition: margin 0.25s ease-out;
}

.sb-sidenav-toggled #page-content-wrapper {
    margin-left: 0;
}