.list-group-item {
    border: none !important;
}

.container-api {
    padding: 0 10vw;
}

.item-api {
    margin: 50px 0;
}

.api-response {
    padding: 30px;
    background-color: #f8f8f8;
}

#sidebar-wrapper {
    position: fixed;
    top: 0;
    max-width: 80vw;
    width: 20rem;
}

#page-content-wrapper {
    margin-left: 0;
    transition: margin 0.25s ease-out;
    min-width: 0 !important;
}

.sb-sidenav-toggled #page-content-wrapper {
    margin-left: 20rem;
}

@media (min-width: 768px) {
    #page-content-wrapper {
        margin-left: 20rem;
    }

    .sb-sidenav-toggled #page-content-wrapper {
        margin-left: 0;
    }
}